<div class="container">
  <div *ngIf="successMsg" class="alert alert-success">{{successMsg}}</div>
  <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
  <form [formGroup]="scheduleForm" (ngSubmit)="save(scheduleForm.value)" *ngIf="userService.hasRole('ROLE_ADMIN')">
    <div class="row">
      <div class="col-md-4">
        <label for="room" class="text-uppercase">room:</label>
      </div>
      <div class="col-md-8">
        <select formControlName="roomId" id="room" class="form-control" required>
          <option *ngFor="let room of roomList" [ngValue]="room.id">{{room.name}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="activity" class="text-uppercase">activity:</label>
      </div>
      <div class="col-md-8">
        <select formControlName="activityId" id="activity" class="form-control" required>
          <option *ngFor="let activity of activityList" [ngValue]="activity.id">{{activity.name}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="trainer" class="text-uppercase">trainer:</label>
      </div>
      <div class="col-md-8">
        <select formControlName="trainerId" id="trainer" class="form-control" required>
          <option *ngFor="let trainer of trainerList" [ngValue]="trainer.id">{{trainer.email}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="day" class="text-uppercase">day:</label>
      </div>
      <div class="col-md-8">
        <select formControlName="day" id="day" class="form-control" required>
          <option value="1">Monday</option>
          <option value="2">Tuesday</option>
          <option value="3">Wednesday</option>
          <option value="4">Thursday</option>
          <option value="5">Friday</option>
          <option value="6">Saturday</option>
          <option value="7">Sunday</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="time" class="text-uppercase">trainer:</label>
      </div>
      <div class="col-md-8">
        <input type="time" step="3600" id="time" formControlName="time" class="form-control" required>
      </div>
    </div>
    <button type="submit" class="btn btn-warning form-control text-uppercase">save</button>
  </form>
</div>
