<div class="container">
  <h2 class="text-uppercase">schedule:</h2>
  <table class="table table-hover">
    <thead>
      <tr class="row">
        <th class="col-md-2">Room</th>
        <th class="col-md-2">Activity</th>
        <th class="col-md-2">Trainer</th>
        <th class="col-md-1">day</th>
        <th class="col-md-1">time</th>
        <th class="col-md-2">participants</th>
        <th class="col-md-2">action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let schedule of scheduleList" class="row">
        <td class="col-md-2">{{schedule.room}}</td>
        <td class="col-md-2">{{schedule.activity}}</td>
        <td class="col-md-2">{{schedule.trainer}}</td>
        <td class="col-md-1">{{schedule.day}}</td>
        <td class="col-md-1">{{schedule.time}}</td>
        <td class="col-md-2">{{schedule.participants}}/{{schedule.capacity}}</td>
        <td class="col-md-2">
          <span *ngIf="userService.hasRole('ROLE_CLIENT')">
            <span *ngIf="!mySchedule.includes(schedule.id)">
              <button (click)="signIn(schedule.id)" class="btn btn-sm btn-warning text-uppercase" [disabled]="schedule.participants == schedule.capacity">join</button>
            </span>
            <span *ngIf="mySchedule.includes(schedule.id)">
              <button (click)="signOut(schedule.id)" class="btn btn-sm btn-light text-uppercase" [disabled]="schedule.participants == schedule.capacity">quit</button>
            </span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
