<div class="container">
  <h2 class="text-uppercase">employees:</h2>
  <table class="table table-hover">
    <thead>
      <tr class="row">
        <th class="col-md-2">ID</th>
        <th class="col-md-8">Email</th>
        <th class="col-md-2">Enabled</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees" routerLink="/profile" [queryParams]="{userId: employee.id}" class="row">
          <td class="col-md-2">{{employee.id}}</td>
          <td class="col-md-8">{{employee.email}}</td>
          <td class="col-md-2">{{employee.enabled}}</td>
      </tr>
    </tbody>
  </table>
</div>
