<div class="content" role="main">
  <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
          </li>
          <li *ngIf="userService.hasRole('ROLE_ADMIN')" class="nav-item">
            <a routerLink="/registeremployee" routerLinkActive="active" class="nav-link">Register</a>
          </li>
          <li *ngIf="userService.hasRole('ROLE_ADMIN')" class="nav-item">
            <a routerLink="/employees" routerLinkActive="active" class="nav-link">Employees</a>
          </li>
          <li *ngIf="userService.hasRole('ROLE_TRAINER') || userService.hasRole('ROLE_CLIENT')" class="nav-item">
            <a routerLink="/profile" [queryParams]="{userId: userService.getId()}" routerLinkActive="active" class="nav-link">Profile</a>
          </li>
          <li *ngIf="userService.hasRole('ROLE_ADMIN')" class="nav-item">
            <a routerLink="/activity" routerLinkActive="active" class="nav-link">Activity</a>
          </li>
          <li class="nav-item">
            <a routerLink="/schedule" routerLinkActive="active" class="nav-link">Schedule</a>
          </li>
        </ul>

        <ul *ngIf="!userService.isAuthenticated()" class="navbar-nav">
          <li *ngIf="!userService.isAuthenticated()" class="nav-item">
            <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>
          </li>
          <li *ngIf="!userService.isAuthenticated()" class="nav-item">
            <a routerLink="/register" routerLinkActive="active" class="nav-link">Register</a>
          </li>
        </ul>

        <div *ngIf="userService.isAuthenticated()">
          <div class="container user-section">
            <div class="text-warning">Hello {{userService.getEmail()}}</div>
            <button (click)="logout()" class="btn btn-sm btn-outline-light"> > </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
