<div class="d-flex justify-content-center center">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
    <div class="row">
      <div class="col-sm-5">
        <label for="userEmail">Email:</label>
      </div>
      <div class="col-sm-7">
        <input id="userEmail" type="text" formControlName="email" class="form-control" required/>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
          <div *ngIf="email.errors.required">Required</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <label for="userPassword">Password:</label>
      </div>
      <div class="col-sm-7">
        <input id="userPassword" type="password" formControlName="password" class="form-control" required/>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
          <div *ngIf="password.errors.required">Required</div>
        </div>
      </div>
    </div>
    <button class="btn btn-warning form-control" type="submit" [disabled]="!loginForm.valid">Sign in</button>
  </form>
</div>
