<div class="container">
  <h2 class="text-uppercase">Employee registration</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
    <div *ngIf="successMsg" class="alert alert-success">{{successMsg}}</div>
    <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
    <div class="row">
      <div class="col-sm-5">
        <label for="userEmail">Email:</label>
      </div>
      <div class="col-sm-7">
        <input id="userEmail" type="text" formControlName="email" class="form-control" required/>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
          <span *ngIf="email.errors.required">Required</span>
          <span *ngIf="email.errors.email">Invalid email</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <label for="userPassword">Password:</label>
      </div>
      <div class="col-sm-7">
        <input id="userPassword" type="text" formControlName="password" class="form-control" required/>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
          <div *ngIf="password.errors.required">Required</div>
          <div *ngIf="password.errors.minlength">Min 3 chars</div>
        </div>
      </div>
    </div>
    <button class="btn btn-warning form-control text-uppercase" type="submit" [disabled]="!registrationForm.valid">save</button>
  </form>
</div>
