<div class="d-flex justify-content-center center">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
    <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
    <div class="row">
      <div class="col-sm-5">
        <label for="userEmail">Email:</label>
      </div>
      <div class="col-sm-7">
        <input id="userEmail" type="text" formControlName="email" class="form-control" required/>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
          <span *ngIf="email.errors.required">Required</span>
          <span *ngIf="email.errors.email">Invalid email</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <label for="userPassword">Password:</label>
      </div>
      <div class="col-sm-7">
        <input id="userPassword" type="password" formControlName="password" class="form-control" required/>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
          <div *ngIf="password.errors.required">Required</div>
          <div *ngIf="password.errors.minlength">Min 3 chars</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <label for="userPassword2">Retype password:</label>
      </div>
      <div class="col-sm-7">
        <input id="userPassword2" type="password" formControlName="password2" class="form-control" required/>
        <div *ngIf="password2.invalid && (password2.dirty || password2.touched)" class="text-danger">
          <div *ngIf="password2.errors.required">Required</div>
          <div *ngIf="password2.errors.minlength">Min 3 chars</div>
          <div *ngIf="password2.errors.match">Passwords don't match</div>
        </div>
      </div>
    </div>
    <button class="btn btn-warning form-control text-uppercase" type="submit" [disabled]="!registrationForm.valid">Sign up</button>
  </form>
</div>
