<div class="container">
  <div *ngIf="userData" class="row">
    <div class="col-md-6">
      <span class="text-uppercase">Account: </span>
      <span class="font-weight-bold">{{userData.email}}</span>
    </div>

    <div class="col-md-6" *ngIf="userData.scope && userData.scope.includes('ROLE_TRAINER')">
      <h6 class="text-uppercase">activities:</h6>
      <form [formGroup]="activityForm" (ngSubmit)="saveActivity(activityForm.value)" class="container-input-group">
        <select formControlName="activityId" class="form-control input-left" required>
          <option *ngFor="let a of activityList" [ngValue]="a.id">{{a.name}}</option>
        </select>
        <button type="submit" class="btn btn-warning input-right">+</button>
      </form>
      <div *ngIf="activityList">
        <div *ngFor="let activity of userData.activities" class="activity">{{activity.name}}</div>
      </div>
    </div>

    <div class="col-md-6" *ngIf="userData.scope && userData.scope.includes('ROLE_CLIENT')">
      <div *ngIf="userData.schedule">
        <h6 class="text-uppercase">my classes:</h6>
        <div *ngFor="let schedule of userData.schedule" class="row schedule">
            <div class="col-sm-4">{{schedule.activity}}</div>
            <div class="col-sm-4">{{schedule.day}}</div>
            <div class="col-sm-4">{{schedule.time}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
