.container {
  margin-top: 32px;
}
.container-input-group {
  display: flex;
  flex-direction: row;
}
.container-input-group .input-left {
  border-radius: .25rem 0 0 .25rem;
}
.container-input-group .input-center {
  border-radius: 0;
}
.container-input-group .input-right {
  border-radius: 0 .25rem .25rem 0;
}
.container-input-group.baseline {
  align-items: baseline;
}
.activity, .schedule {
  background-color: #d9d9d9;
  margin: 4px 0px;
  padding: 4px;
  border-radius: 4px;
}
